img {
  width: 187px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;

  &:hover {
    transform: scale(0.98);
  }

  &:active {
    transform: scale(1);
  }
}

.gridMichis {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: auto;
  max-width: 700px;
  width: 500px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}